

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  nav {
    background-color: #3b3a3a;
    color: white;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% 60%;
        grid-template-columns: 30% 60%;
    -webkit-column-gap: 10%;
            column-gap: 10%;
    padding: 0% 5%;
  }
  
  nav .array-inputs {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 40%;
        grid-template-columns: 60% 40%;
    place-content: center;
    padding: 5% 0%;
  }
  
  nav .array-inputs #a_size {
    padding: 5% 0%;
  }
  
  nav .array-inputs #a_speed {
    padding: 5% 0%;
  }
  
  nav .array-inputs #a_generate {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 4% 0% 0% 0%;
    padding-left: 20%;
  }
  
  nav .array-inputs #a_generate:hover {
    cursor: pointer;
  }
  
  nav .header_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  nav .header_right .nav-heading {
    display: inline-block;
    font-size: 40px;
    padding: 3% 0%;
  }
  
  nav .header_right .algos {
    display: -ms-grid;
    display: grid;
    /* -ms-grid-columns: (16.66667%)[6]; */
        grid-template-columns: repeat(5, 20.66667%);
    place-content: center;
    grid-gap: 10px;
    padding: 2% 0%;
  }
  
  nav .header_right .algos button {
    background-color: green;
    border-radius:10px;
    border: 2px solid pink;
    color: white;
    padding: 5% 0%;
    font-size: x-large;
  }
  
  nav .header_right .algos button:hover {
    background-color: blue;
    cursor: pointer;
  }
  
  nav .header_right .algos .butt_locked {
    background-color: transparent;
    cursor: pointer;
  }
  
  nav .header_right .algos .butt_locked:hover {
    background-color: transparent;
    cursor: pointer;
  }
  
  nav .header_right .algos .butt_selected {
    background-color: white;
    color: green;
  }
  
  nav .header_right .algos .butt_selected:hover {
    background-color: white;
    cursor: pointer;
  }


  nav .header_right .algos .butt_unselected:hover {
    background-color: blue;
    cursor: pointer;
  }





  
  section {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20% 60% 20%;
        grid-template-columns: 20% 60% 20%;
  }
  
  section .Complexity_Containers {
    margin-top: 20%;
  }
  
  section .Complexity_Containers .Pair_Definitions {
    margin-top: 20%;
  }
  
  section .Complexity_Containers .Pair_Definitions p {
    display: inline;
  }
  
  section .Complexity_Containers .Pair_Definitions p.Sub_Heading {
    font-size: medium;
    text-transform: none;
  }
  
  section #Info_Cont1 {
    padding: 20% 10%;
  }
  
  section #Info_Cont1 h3 {
    text-decoration: underline;
  }
  
  section #array_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 70vh;
  }
  
  section #Info_Cont2 {
    padding: 20% 10%;
  }
  
  section #Info_Cont2 h3 {
    text-decoration: underline;
  }

  
 
  .hide {
    display: none;
  } 



  


 @media (max-width: 1154px) {
    nav .header_right .nav-heading{
        font-size:30px; 
    }

    nav .header_right .algos button{
        font-size: 20px;
    }
 }




 @media (max-width: 986px) {
    nav .header_right .nav-heading{
        font-size: 25px;
    }

    nav .header_right .algos button {
        font-size: 15px;
    }


    nav .array-inputs {
        grid-template-columns: 60% 30%;
        place-content: center;
        /* padding: 8% 2%; */
    }


    nav .array-inputs p{
        padding: 8% 0%;
        font-size: 15px;
    }

    nav .array-inputs #a_generate {
        font-size: 15px;
        padding-left: 10px;
    }  
}




@media (max-width: 942px) {
    nav .header_right .algos{
        width: 90px;
        display: block;
        line-height: 40px;
    }
}



@media (max-width: 762px) {
    section #Info_Cont2 {
        padding: 10% 5%;
    }
}



@media (max-width: 676px) {
  section {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 20% 60% 20%;
  }

  section #Info_Cont1 h3 {
    padding: 10% 5%;
    font-weight: bold;
    font-size: 13px;
  }

  section .Complexity_Containers .Pair_Definitions p.Sub_Heading {
    font-size: 13px;
  }

  section #Info_Cont2 h3 {
    padding: 10% 5%;
    font-weight: bold;
    font-size: 13px;
  }

}




@media (max-width: 550px) {
  nav .array-inputs p{
    font-size: 11px;
}

nav .array-inputs #a_generate {
    font-size: 11px;
    padding-left: 5px;
} 
section {
  display: -ms-grid;
  display: grid;
  grid-template-columns:5% 90% 5%;
}

section .Complexity_Containers .Pair_Definitions p, h3 {
  display: none;
}

}


/* from 480 px onwards */
@media(max-width: 430px) {

  nav .header_right .nav-heading {
    font-size: 23px;
  }

  nav .array-inputs {
    display: block;
  }


  nav .array-inputs #a_size, #a_speed{
    width: 50px;
  }

  
}



@media (max-width: 232px) {
  nav .header_right .nav-heading {
    font-size: 18px;
    padding: 13% 10%;
  }

  nav .header_right .algos button {
    padding: 13% 13%;
    font-size: 12px;
  }
}